# Server Configuration
PORT=5000
NODE_ENV=development

# Database
MONGODB_URI=mongodb://localhost:27017/universal-auth

# JWT Secret
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=7d

# Email Configuration (NodeMailer)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=rakshithganjimut@gmail.com
EMAIL_PASS=dxpeclnpujjonnjb

# Frontend URL
CLIENT_URL=http://localhost:3000

# OTP Configuration
OTP_EXPIRES_IN=10
OTP_LENGTH=6
